@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.headerWrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-tablet {
    display: flex;
    flex-direction: column;

    .link {
      margin: 10px 0 0 0;
      width: 100%;
    }
  }

  a {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    text-decoration: none;
    max-width: 250px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    transition: all 0.2s ease;
    border: 1px solid #9e97be;
    background: #fff;
    color: #9e97be;
    &:hover {
      background-color: #6f61d0;
      border-color: #6f61d0;
      color: #fff;
    }

    @include for-tablet {
      background-color: #6f61d0;
      border-color: #6f61d0;
      color: #fff;
    }
  }
}

.usersList {
  position: relative;
  box-shadow: 0px 0px 40px rgba(111, 97, 208, 0.11);
  border-radius: 15px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 17px;
    color: $color-black;
    box-shadow: $box-shadow;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .headerLeft {
      display: flex;
      align-items: center;

      @media screen and (max-width: 768px) {
        margin-bottom: 15px;
      }

      .headerTitle {
        margin-right: 8px;
        font-size: 20px;
        font-weight: normal;
      }

      .usersCount {
        padding: 3px 6px;
        background: #f7f6fb;
        border-radius: 4px;
      }
    }

    .headerRight {
      display: flex;
      align-items: center;
      position: relative;

      .searchIcon {
        position: absolute;
        left: 9px;
        width: 20px;
        height: 20px;

        @media screen and (max-width: 576px) {
          display: none;
        }
      }

      .mobileSearchIcon {
        display: none;

        @media screen and (max-width: 576px) {
          display: block;
          padding: 2px 1px;
        }
      }

      .searchInput {
        width: 240px;
        padding-left: 32px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        border: 1px solid #736f8b;
        box-sizing: border-box;
        border-radius: 100px;

        @media screen and (max-width: 576px) {
          width: 256px;
          padding-left: 13px;
          padding-top: 9px;
          padding-bottom: 9px;
          margin-right: 8px;
          border: 1px solid #9e97be;
        }
      }

      .searchInput::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;

        @media screen and (max-width: 576px) {
          opacity: 0.4;
        }
      }
    }
  }

  .tableContainer {
    width: 100%;
    overflow-x: scroll;
  }

  @media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
}

.dateTimeModal {
  text-align: center;

  @media screen and (max-width: 768px) {
    padding: 30px 50px;
  }

  @media screen and (max-width: 620px) {
    padding: 30px 50px;
  }

  @media screen and (max-width: 576px) {
    height: 100%;
    width: 100%;
    padding: 30px 20px;
    border-radius: 20px 20px 0px 0px;
  }

  .dateTimeHeader {
    margin-bottom: 75px;

    @media screen and (max-width: 768px) {
      margin-bottom: 25px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
    }
  }

  .dateTimeDivider {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      margin-bottom: 50px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 30px;
    }
  }

  .dateTimeInputs {
    position: relative;
    display: flex;
    margin-bottom: 50px;

    .wrapperInput {
      margin-right: 20px;

      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }

      @media screen and (max-width: 576px) {
        margin: 0;
        margin-bottom: 15px;
      }
    }

    label {
      left: 20px;
    }

    @media screen and (max-width: 768px) {
      display: block;
    }

    @media screen and (max-width: 576px) {
      text-align: left;
      margin-bottom: 20px;
    }

    .dateTimeLabel {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
        text-align: left;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #9e97be;
        margin-bottom: 5px;
      }
    }

    input {
      width: 370px;

      &:focus ~ label {
        left: 20px;
      }

      @media screen and (max-width: 900px) {
        width: 270px;
      }

      @media screen and (max-width: 768px) {
        width: 370px;
        margin-left: 0;
        margin-right: 0;
      }

      @media screen and (max-width: 576px) {
        width: 100%;
        max-width: unset;
      }
    }

    .dateTimeInput::placeholder {
      color: #9895a7;
    }
  }

  .dateTimeControlBtns {
    @media screen and (max-width: 576px) {
      display: flex;
      justify-content: left;
      flex-direction: row-reverse;
    }

    .cancelBtn,
    .submitBtn {
      border: 1px solid #6f61d0;
      box-sizing: border-box;
      border-radius: 5px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #6f61d0;
      padding: 6px 11px;

      @media screen and (max-width: 768px) {
        border-radius: 100px;
      }
    }

    .cancelBtn {
      margin-right: 20px;

      @media screen and (max-width: 576px) {
        margin-right: 0;
        background: #6f61d0;
        color: #fff;
      }
    }

    .submitBtn {
      background: #6f61d0;
      color: #fff;

      @media screen and (max-width: 576px) {
        margin-right: 20px;
      }
    }

    .cancelBtn:hover,
    .submitBtn:hover {
      opacity: 0.8;
    }
  }
}
.consultations {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
