@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';
.recommended {
  @include flex($justify: flex-start, $align: flex-start);
  &__cards {
    margin-right: 29px;
  }
  .recommendations__wrapper {
    max-height: 40vh;
    padding-bottom: 5px;
  }
}
