@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
.questionnaire {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  @include for-phone {
    padding: 0 0 80px 0;
  }
}
