@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.titleLine {
  padding: 0 16px;
  width: 100%;
  height: 62px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #e4e4e7;

  @include for-phone {
    padding: 0;
    border: none;
    margin: 0 0 20px 0;
    height: unset;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }

  .panelBtns {
    @include for-phone {
      margin: 10px 0 0 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        width: 47%;
        margin: 0;
      }
    }
  }

  .filterBtn {
    .btnText {
      margin-left: 20px;
      margin-right: 20px;

      @include for-phone {
        display: none;
      }
    }

    .btnIcon {
      display: none;

      @include for-phone {
        display: block;
      }
    }

    @include for-phone {
      margin: 0;
      padding: 0 10px;

      height: 34px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .createBtn {
    height: 32px;
    padding: 0 7px !important;
    margin: 0 7px;

    @include for-phone {
      width: calc(100% - 60px);
      height: 34px;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  h3 {
    font-weight: 400;
    font-size: 18px;
    color: $color-black;
  }

  @include for-phone {
    margin: 0 0 20px 0;
    width: 100%;
    justify-content: space-between;

    h3 {
      font-size: 16px;
    }
  }
}

.counter {
  margin: 0 0 0 8px;

  padding: 0 6px;
  height: 20px;

  background-color: $color-divider;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  p {
    font-size: 14px;
    color: $color-black;
  }
}

.options {
  display: flex;
  align-items: center;

  @include for-phone {
    flex-wrap: wrap;
  }
}

.xlsxBtn {
  @include for-phone {
    display: none;
  }
}

.closeIcon {
  position: fixed;
  top: 18px;
  left: 10px;

  z-index: 10;
}
