@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";
.tabs {
  display: flex;
  margin-bottom: 34px;
  .tab {
    position: relative;
    color: #736f8b;
    font-size: 18px;
    font-weight: 600;
    margin-right: 40px;
    height: 23px;
    cursor: pointer;
    &:after {
      content: "";
      bottom: -2px;
      left: 0;
      position: absolute;
      width: 0px;
      transition: 0.3s;
      height: 2px;
      border-radius: 2px;
      background: rgba(111, 97, 208, 0.5);
    }
    &.active {
      &:after {
        width: 100%;
      }
      color: #6f61d0;
    }
  }
}

//add photo button

.btn__add__photo {
  @include flex();
  @include wh(139px, 31px);
  border: 1px solid $color-primary;
  color: $color-primary;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  @media (min-width: $sze-laptop-sm) {
    &:hover {
      border: 1px solid $color-secondary;
      color: $color-secondary;
    }
  }
}
