.profile {
  width: 100%;

  display: flex;
  justify-content: space-between;

  &__tasks,
  &__rate {
    margin: 20px 0 0 0;
    width: calc(100% - 60px);
    padding: 20px 30px;

    border: 1px solid #6f61d0;
    border-radius: 15px;

    transition: all 0.15s ease-in;

    p {
      font-weight: 500;
      font-size: 18px;
      color: #6f61d0;
    }

    &:hover {
      background-color: #6f61d0;

      p {
        color: #ffffff;
      }
    }
  }

  &__tariff-date {
    margin: 5px 0 0 0;

    p {
      font-weight: 400;
      font-size: 16px;
      color: #9e97be;
    }
  }

  &__content {
    width: 910px;
  }
}
