@import "../../styles/global.scss";

@media screen and (max-width: 576px) {
  .backgroundWrapper {
    background-image: url("../../assets/images/ProfileBackground.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }
}

.profile {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .content {
    width: calc(100% - 310px);

    @include for-tablet {
      width: calc(100% - 274px);
    }

    @include for-phone {
      width: 100%;
    }
  }

  .tabs__container {
    margin: 0 0 30px 0;

    @include for-laptop {
      position: absolute;
      width: calc(100vw - 110px);
      top: 110px;
      left: 0;
    }

    @include for-phone {
      position: static;
      width: 100%;
      margin: 15px 10px 15px 0;
    }
  }

  .chatButton {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px 26px;

    background: #6f61d0;
    color: #fff;
    border-radius: 100px;

    transition: all 0.2s ease;

    &:hover {
      background: #7061d0b2;
    }

    &:active {
      transform: scale(0.96);
    }
  }

  @media screen and (max-width: 650px) {
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .info {
    width: 280px;
    @media screen and (max-width: 650px) {
      position: relative;
      width: 100%;
    }
  }

  .postList {
    margin: 30px 0 0 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-height: calc(100vh - 220px);

    scroll-behavior: smooth;

    @media screen and (max-width: 650px) {
      margin: 20px 0 0 0;
      max-height: unset;
    }
  }

  .title {
    h3 {
      @include Heading-3;
      color: $color-grey-3;

      @media screen and (max-width: 650px) {
        margin: 20px 0 0 0;
        font-size: 16px;
      }
    }
  }

  .actionBtn {
    width: 100%;
  }
}

.emptyData {
  margin-top: 10px;
}
