.switchContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  box-sizing: border-box;
}

.cardContainer {
  --main-color: #f0ecfb;
  --hover-color: #7a69db;
  --transition: 0.2s;
  max-width: 415px;
  width: 100%;
  height: 374px;
  border-radius: 16px;
  border: 6px solid var(--main-color);
  transition: border var(--transition);
  cursor: pointer;
  &.hover {
    border: 6px solid var(--hover-color);
  }
  .logoContainer {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    .logoCircle {
      height: 70%;
      padding: 28px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--main-color);
      transition: background-color var(--transition);
      &.hover {
        background-color: var(--main-color);
      }
      .logo {
        path,
        circle,
        ellipse {
          transition: fill var(--transition), stroke var(--transition);
        }
        &.hover {
          path {
            stroke: #7a69db;
          }
          circle {
            fill: #7a69db;
          }
          ellipse {
            fill: #7a69db;
          }
        }
      }
    }
  }
  .titleContainer {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: var(--main-color);
    color: #958bad;
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: background-color var(--transition), color var(--transition);
    &.hover {
      color: white;
      background-color: var(--hover-color);
    }
  }
}
