@import "./../../../styles/mixins.scss";

.analyzeModal {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  max-width: 840px;
  width: calc(100% - 60px);

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  border-radius: 5px;

  z-index: 500;

  @include for-phone {
    left: 0;
    top: unset;
    bottom: 0;

    padding: 0 10px;

    width: 100%;

    border-radius: 20px 20px 0 0;

    transform: none;
  }

  .title {
    padding: 20px 0;
    width: 100%;

    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f7f6fb;

    h2 {
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0.0075em;
      color: #000000;

      @include for-phone {
        font-size: 18px;
      }
    }
  }

  .fileInput {
    margin: 20px 0 20px 0;

    width: 100%;
    max-width: 370px;

    input {
      display: none;
    }

    label {
      display: block;
      max-width: 370px;
      width: 100%;
      height: 110px;

      cursor: pointer;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      svg {
        width: 42px;
        height: 42px;
      }

      background-color: #f7f6fb;
      border-radius: 5px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;

      color: #736f8b;
    }
  }

  .textInput {
    width: 100%;
    max-width: 370px;
    margin: 0 0 25px 0;
    position: relative;

    input {
      width: 100%;
    }
  }

  .buttons {
    margin: 0 0 30px 0;

    display: flex;
    align-items: center;
    column-gap: 20px;

    button {
      padding: 7px 15px;
      height: 35px;

      font-weight: 500;
      font-size: 14px;

      cursor: pointer;
    }

    .cancel {
      border: 1px solid #6f61d0;
      color: #6f61d0;
    }

    .save {
      border: 1px solid #6f61d0;
      background-color: #6f61d0;
    }
  }
}

.error__input {
  border: 1px solid tomato;
}

.success__input {
  border: 1px solid green;
}

.popupBg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: 0.3s;

  z-index: 500;
  background: rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  @include for-phone {
    background: rgba(0, 0, 0, 0.8);
  }
}
