@import "./../../../../styles/mixins.scss";

.form {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 370px;
  button {
    font-size: 16px;
  }

  @include for-phone {
    width: 100%;
    margin: 0;
  }

  .title,
  .subtitle {
    margin: 0 auto;
  }
  .title {
    margin-bottom: 10px;
    color: #1e174d;
    font-size: 36px;

    @include for-phone {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  .subtitle {
    margin-bottom: 30px;
    color: #736f8b;
    font-size: 15px;

    @include for-phone {
      margin-bottom: 20px;
      font-weight: 500;
      line-height: 130%;
      text-align: center;
    }
  }
  .input__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    .forgot {
      position: absolute;
      top: 18px;
      right: 20px;
      font-size: 12px;
      color: #6f61d0;
      cursor: pointer;
      z-index: 100;
      text-decoration: none;
    }
  }

  .input__current_password {
    padding-right: 120px;
  }

  .signin {
    text-decoration: none;
    color: #6f61d0;

    font-size: 15px;
    letter-spacing: 0.25px;
    transition: 0.3s;
    margin: 0 auto;
    &:hover {
      color: #a59ce2;
    }

    @include for-phone {
      width: 220px;
      text-align: center;
    }
  }

  .error {
    font-size: 12px;
    color: #d06361;
  }

  .error__server {
    width: 100%;
    background: #ffd8d7;
    font-size: 15px;
    border-radius: 10px;
    display: none;
    font-weight: normal;
    padding: 8px 20px;
    color: #d06361;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .error__checkbox {
    border: 2px solid #d06361 !important;
  }
}
