.textarea {
  padding: 10px 30px 10px 12px;

  width: 100%;
  min-height: 40px;
  height: 40px;
  font-size: 16px;

  background: transparent;

  box-sizing: border-box;
  border: 1px solid #F7F6FB;
  border-radius: 4px;
  outline: none;

  resize: none;

  & ~ label {
    top: 30px;
    left: 30px;
    background-color: transparent;
  }
  
  &:focus ~ label {
    font-weight: 500;
    font-size: 12px;
    color: #9e97be;
    line-height: 20px;
    top: -7px;
    left: 19px;
    padding: 0 4px;
    text-align: center;
    background: #fff;
    z-index: 40;
  }
}

// corner grabber lines
textarea::-webkit-resizer {
  width: 18.71px;
  height: 18.71px;
  background-image: url('../../assets/icons/resize-grabber.svg');
  background-repeat: no-repeat;
  background-size: 70%;
}

.active {
  & ~ label {
    font-weight: 500;
    font-size: 12px;
    color: #9e97be;
    top: -7px;
    left: 19px;
    padding: 0 4px;
    text-align: center;
    background: #fff;
    z-index: 40;
  }
}

.error__textarea {
  border: 1px solid #d06361;
  color: #d06361;
}

.success__textarea {
  border: 1px solid #309a74;
  color: #309a74;
}
