.input {
  height: 50px;
  margin-bottom: 5px;
  padding: 15px 20px;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: 400;

  &:placeholder {
    color: transparent;
  }
  border: 1px solid #9895a7;
  border-radius: 15px;
  &:focus ~ label {
    font-weight: 400;
    font-size: 12px;
    color: #9e97be;
    top: -7px;
    left: 19px;
    padding: 0 4px;
    text-align: center;
    background: #fff;
    z-index: 40;
  }
}

.active {
  & ~ label {
    font-weight: 400;
    font-size: 12px;
    color: #9e97be;
    top: -7px;
    left: 19px;
    padding: 0 4px;
    text-align: center;
    background: #fff;
    z-index: 40;
  }
}

.error__input {
  border: 1px solid #d06361;
  color: #d06361;
}

.success__input {
  border: 1px solid #309a74;
  color: #309a74;
}
