@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.header {
    position: relative;

    margin: 0 0 20px 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-phone {
        flex-direction: column-reverse;
        align-items: center;
    }

    .right,
    .left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 32px;
        height: 32px;

        display: flex;
        justify-content: center;
        align-items: center;

        background: #ffffff;
        border: 1px solid rgba(111, 97, 208, 0.5);
        border-radius: 50%;

        z-index: 21;

        cursor: pointer;

        transition: all 0.2s ease;

        &:hover {
            svg {
                path {
                    stroke: $color-white;
                }
            }
            background: $color-primary;
        }

        @include for-tablet {
            width: 26px;
            height: 26px;

            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-tap-highlight-color: transparent;

            svg {
                width: 12px;
                height: 12px;
            }

            &:hover {
                svg {
                    path {
                        stroke: #000000;
                    }
                }
                background: #ffffff;
            }
        }
    }
    .right {
        right: -16px;
        @include for-tablet {
            right: -10px;
        }

        @include for-phone {
            right: -8px;
        }
    }
    .left {
        left: -16px;
        @include for-tablet {
            left: -10px;
        }
        @include for-phone {
            right: -8px;
        }
    }

    .container {
        position: relative;
        width: 75%;
        max-width: 890px;

        display: flex;
        align-items: center;

        @include for-phone {
            width: 100%;
        }
    }

    .createBtn {
        width: 23%;
        max-width: 275px;
        height: 60px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: $color-primary;
        border: 1px solid $color-primary;
        box-shadow: 0px 0px 4px rgba(111, 97, 208, 0.14);
        border-radius: 5px;

        font-weight: 500;
        user-select: none;

        text-decoration: none;
        font-size: 16px;
        line-height: 120%;

        @include for-tablet {
            font-size: 14px;
            text-align: center;
        }

        @include for-phone {
            margin: 0 0 10px 0;
            max-width: unset;
            width: 100%;
            height: 35px;
            border-radius: 20px;
        }
    }
}
