@import '../../styles/variables.scss';

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButtons {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;

  overflow: hidden;

  .toggleButton {
    width: 170px;
    height: 30px;

    border: none;
    border-radius: 0;

    background: #f7f6fb;

    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;

    letter-spacing: -0.08px;

    color: #736f8b;

    &.active {
      background: #736f8b;
      font-weight: bold;
      color: #ffffff;
    }

    &.with_notify {
      display: block;
      position: relative;
      overflow: visible;

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 6px);
        right: 20px;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-green-2;
      }
    }
  }
}
