@import '../../../styles/mixins.scss';

.specialistList {
  margin: 40px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include for-phone {
    margin: 0;
    align-items: center;
  }

  .list {
    max-height: 500px;
    padding: 20px 0 0 0;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    @include for-tablet {
      max-height: unset;
      padding: 20px 0 20px 0;
    }

    @include for-phone {
      padding: 0;
      max-height: unset;
    }
  }
}

.title {
  margin: 0 0 20px 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include for-phone {
    display: none;
  }

  .name {
    width: 35%;

    @include for-tablet {
      width: 50%;
    }
  }

  .specialization {
    width: 22%;

    display: flex;
    justify-content: center;

    @include for-tablet {
      width: 25%;
      justify-content: flex-start;
    }
  }

  .appointment {
    width: 21%;

    display: flex;
    align-items: center;
    justify-content: center;

    @include for-tablet {
      display: none;
    }
  }

  p {
    font-weight: 500;
    font-size: 18px;

    color: #1e174d;
  }
}
