@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.testCard {
  padding: 30px;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid $color-secondary;
  border-radius: 15px;

  .header {
    @include flex($justify: space-between);
    margin-bottom: 20px;
    width: 100%;

    .title {
      p {
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;

        color: $color-black;
      }
    }
    .updateBtn {
      padding: 0 0 2px 0;

      border-bottom: 1px solid $color-grey-2;

      @include for-phone {
        border: none;
      }

      a {
        font-size: 16px;
        line-height: 120%;
        text-decoration: none;

        color: $color-grey-2;

        .icon {
          display: none;
        }

        @include for-phone {
          .text {
            display: none;
          }
          .icon {
            display: block;

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }

  .list {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;

    .item {
      p {
        color: $color-secondary;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
      }
    }
    .answer {
      color: $color-grey-3;
    }
  }

  .moreBtn {
    padding: 0 0 2px 0;
    border-bottom: 1px solid $color-primary;

    a {
      color: $color-primary;
    }
  }
}
