@import "./../../../../styles/mixins.scss";

.card {
    margin: 10px 0 0 0;
    padding: 20px;
    width: 100%;

    background: #ffffff;
    box-shadow: 0px 0px 40px rgba(111, 97, 208, 0.11);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .price {
        margin: 5px 0 0 0;
        display: flex;

        .text {
            p {
                font-weight: 500;
                font-size: 18px;
                color: #6f61d0;
            }
        }
    }

    .subText {
        margin: 0 0 0 10px;

        p {
            font-weight: 400;
            font-size: 17px;
            color: #9e97be;
        }
    }

    .title {
        margin: 20px 0 0 0;

        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
        }
    }

    .list {
        margin: 10px 0 0 0;
        line-height: 120%;
        overflow: hidden;
    }

    .listEl {
        margin: 20px 0 0 0;

        width: 100%;

        display: flex;

        img {
            margin: 0 15px 0 0;
        }

        p {
            color: #1e174d;

            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
        }
    }

    .bottom {
        width: 100%;
        margin: 30px 0 0 0;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            text-decoration: none;
            padding: 7px 15px;
            background-color: #ffffff00;
            border: 1px solid #6f61d0;
            box-sizing: border-box;
            border-radius: 100px;

            font-weight: 500;
            font-size: 14px;

            color: #6f61d0;

            transition: all 0.15s ease-in;

            &:hover {
                background-color: #6f61d0;
                color: #ffffff;
            }
        }

        button {
            border: none;
            background-color: #fff;

            font-size: 13px;
            color: #736f8b;

            display: flex;
            align-items: center;

            img {
                position: relative;
                top: 3px;
                transform: rotate(180deg);
            }
        }
    }
}
