@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.without__arrows::-webkit-outer-spin-button,
.without__arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.without__arrows {
  -moz-appearance: textfield;
}

.textInput {
  padding: 15px 20px;
  max-width: 370px;
  width: 100%;

  font-weight: normal;
  font-size: 16px;
  line-height: 120%;

  border-radius: 15px;
  border: 1px solid $color-grey-2;

  &::placeholder {
    color: $color-grey-2;
  }
}
