@import './../../../styles/mixins.scss';

.infoBar {
  margin: 0 0 30px 0;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid #9e97be;
  box-sizing: border-box;
  border-radius: 15px;

  .header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: #d06361;
    }
  }

  .text {
    margin: 10px 0 0 0;

    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    p {
      color: #736f8b;
    }
  }

  @include for-phone {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.link {
  padding: 0 0 0 50px;
  min-width: 200px;

  @include for-phone {
    padding: 0;
    margin: 5px 0 0 0;

    min-width: unset;
  }
}

.link {
  padding: 0 0 0 50px;
  min-width: 200px;

  a {
    position: relative;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    display: flex;
    align-items: center;

    /* Primary */

    color: #6f61d0;

    text-decoration: none;

    &::after {
      content: '';
      width: 100%;
      height: 1px;

      background: rgba(111, 97, 208, 0.5);
      border-radius: 5px;

      position: absolute;
      bottom: -2px;
    }
  }
}

.bottomLink {
  margin: 15px 0 0 0;

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;

    text-decoration: none;

    color: #6f61d0;
  }
}
