@import "../../../styles/mixins.scss";

.search {
  position: relative;

  display: flex;
  align-items: center;
  column-gap: 20px;

  @include for-tablet {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include for-phone {
    flex-direction: column;
    column-gap: 0;
  }

  .searchLabel {
    padding: 0 30px;
    width: 354px;
    height: 40px;

    border: 1px solid #9e97be;
    box-sizing: border-box;
    border-radius: 50px;

    display: flex;
    align-items: center;

    cursor: pointer;

    @include for-tablet {
      width: 58%;
    }

    @include for-phone {
      padding: 0 10px;
      height: 38px;
      width: 100%;
      justify-content: center;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      @include for-phone {
        display: none;
      }
    }
  }

  .searchInput {
    width: 260px;

    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border: none;

    font-size: 16px;

    @include for-tablet {
      width: 30%;
    }

    @include for-phone {
      width: 100%;
      position: static;
      transform: translate(0);

      font-size: 14px;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba(158, 151, 190, 0.5);
    }
  }

  .button {
    padding: 10px 50px;

    border: 1px solid #6f61d0;
    box-sizing: border-box;
    border-radius: 50px;

    font-weight: 500;
    font-size: 16px;

    color: #6f61d0;

    transition: all 0.15s ease;

    &:hover {
      border: 1px solid #a59ce2;
      color: #a59ce2;
    }

    &:active {
      transform: scale(0.95);
    }

    .icon {
      width: 36px;
      height: 36px;
      display: none;
    }

    @include for-phone {
      margin: 0 0 0 8px;
      padding: 0;
      width: 36px;
      height: 36px;

      background-color: #6f61d0;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          position: relative;
          top: -1px;
          path {
            stroke: #fff;
          }
        }
      }

      .hideableText {
        display: none;
      }
    }
  }

  .select {
    width: 195px;
    height: 40px;

    @include for-tablet {
      width: 38%;
    }

    @include for-phone {
      margin: 10px 0 0 0;
      width: 100%;
      height: 36px;
    }
  }
}
