@mixin avatar() {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  box-sizing: border-box;

  border: 3px solid $color-primary;
  filter: drop-shadow(0px 0px 4px rgba(126, 134, 239, 0.15));

  transition: all 0.2s ease;

  &__img {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    overflow: hidden;

    img {
      height: 100%;
    }
  }

  &:hover {
    border-color: $color-white;
  }
}
@mixin flex($direction: row, $justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-direction: $direction;
}
@mixin wh($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
}
@mixin minwh($width: 100px, $height: 100px) {
  min-width: $width;
  min-height: $height;
}
@mixin maxwh($width: 100px, $height: 100px) {
  max-width: $width;
  max-height: $height;
}
@mixin allwh($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
  min-width: $width;
  min-height: $height;
  max-width: $width;
  max-height: $height;
}
@mixin defaultBtn(
  $width: 141px,
  $height: 31px,
  $border: 1px solid $color-primary,
  $clr: $color-primary,
  $bg: transparent,
  $hoverClr: $color-secondary,
  $hoverBg: $color-secondary,
  $hoverBorder: 1px solid $color-secondary,
  $transition: 0.2s,
  $disabledClr: $color-disabled,
  $disabledBg: $color-disabled,
  $selectedClr: $color-white,
  $selectedBg: $color-primary,
  $selectedBorder: $color-primary,
  $fs: 16px,
  $fw: 500,
  $lh: 120%
) {
  cursor: pointer;
  @include flex();
  border-radius: 50px;
  width: $width;
  height: $height;
  border: $border;
  color: $clr;
  background: $bg;
  transition: $transition;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  @media (min-width: $sze-laptop-sm) {
    &:hover {
      color: $hoverClr;
      border: $hoverBorder;
    }
  }
  &:disabled {
    color: $disabledClr;
    background: $disabledBg;
  }
  &.selected {
    color: $selectedClr;
    background: $selectedBg;
    border: $selectedBorder;
  }
}
@mixin invisibleScroll() {
  scrollbar-width: none;
  overflow-y: auto;
}

@mixin for-phone {
  @media (max-width: 500px) {
    @content;
  }
}
