$font-primary: 'Montserrat', sans-serif;

@mixin typography($fsize, $fweight, $fcolor) {
  font-family: $font-primary;

  font-size: $fsize;
  font-weight: $fweight;

  color: $fcolor;
}

@mixin font-title($color) {
  @include typography(24px, 600, $color);
  font-family: $font-primary;

  letter-spacing: 0.75%;
}

@mixin font-headline($color) {
  @include typography(18px, 500, $color);
  font-family: $font-primary;

  letter-spacing: 0.75%;

  color: $color;
}
@mixin font-body($color) {
  @include typography(16px, 300, $color);

  font-family: $font-primary;
}


@mixin Heading-1 {
  font-family: $font-primary;

  font-weight: 600;
  font-size: 24px;
  line-height: 120%;

  letter-spacing: 0.0075em;
}

@mixin Heading-2 {
  font-family: $font-primary;

  font-weight: 600;
  font-size: 16px;
  line-height: 120%;

  letter-spacing: 0.0075em;
}

@mixin Heading-3 {
  font-family: $font-primary;

  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}