$background-color: #fff;
$color-primary: #6f61d0;

$color-black: #1e174d;
$color-grey: #736f8b;
$color-secondary: #9e97be;

$color-green: #61d0a7;
$color-purple: #c05d97;
$color-yellow: #e2d341;
$color-white: #ffffff;

$color-link: #9895a7;

$color-divider: #f7f6fb;

$color-disabled: #bbbbbb;

$color-primary-hover: #a59ce2;
