@import "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";
.message {
  border-radius: 0 15px 15px 15px;
  background: $color-grey;
  width: fit-content;
  margin-bottom: 7px;
  max-width: 309px;
  position: relative;
  &__time {
    user-select: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 120%;
    color: $color-grey-2;
    display: flex;
    align-items: center;
    &__document {
      margin-left: auto;
    }
    &__text {
      position: absolute;
      right: 2.47%;
      bottom: 15.38%;
    }

    & span {
      margin-right: 5px;
    }
  }
  &__type {
    &__typing {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.25px;
      color: $color-grey-2;
      padding: 12px 20px;
      @include flex();
    }
    &__text {
      padding: 12px 62px 12px 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.25px;
      color: $color-black;
      word-break: break-word;
    }
    &__image {
      cursor: pointer;
      display: block;
      @include maxwh(309px, auto);
      border: 4px solid #f7f6fb;
    }
    &__document {
      @include flex(column, flex-start, flex-start);
      padding: 20px 20px 10px;
      &__top {
        @include flex($justify: flex-start, $align: center);
        margin-bottom: 21px;
        cursor: pointer;
        color: #1e174d;
        text-decoration: none;
      }
      &__bot {
        @include flex($justify: flex-start, $align: flex-start);
        color: $color-grey-2;
        font-size: 14px;
        line-height: 17px;
        width: 100%;
      }
    }
  }
}
.document {
  &__img {
    @include allwh(18px, 20px);
    &__wrapper {
      margin-right: 10px;
      @include allwh(24px, 24px);
    }
  }
  &__size {
    position: relative;
    margin-right: 6.5px;
    &:after {
      position: absolute;
      content: '';
      background: $color-grey-2;
      border-radius: 50%;
      @include wh(2.5px, 2.5px);
      top: calc(50% - 1.25px);
      right: -4.25px;
    }
  }
}
.by__user {
  border-radius: 15px 15px 0 15px;
  align-self: flex-end;
}
