@import "/src/styles/variables";
@import "/src/styles/mixins";

.message {
  border-radius: 0 15px 15px 15px;
  background: $color-grey;
  width: fit-content;
  margin-bottom: 7px;
  max-width: 309px;
  position: relative;
  &__type {
    &__typing {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.25px;
      color: $color-grey-2;
      padding: 12px 20px;
      @include flex();
    }
  }
}
