@import "./../../../../styles/mixins.scss";

.card {
  padding: 30px;
  width: 350px;

  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(111, 97, 208, 0.11);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  @include for-laptop {
    width: 300px;
  }

  @include for-phone {
    padding: 20px;
    margin: 10px 0 0 0;

    width: 100%;
    height: unset;
  }

  .price {
    display: flex;

    .text {
      p {
        font-weight: 500;
        font-size: 18px;
        color: #6f61d0;
      }
    }
  }

  .subText {
    margin: 0 0 0 10px;

    p {
      font-weight: 400;
      font-size: 17px;
      color: #9e97be;
    }
  }

  // .rate__headline

  .title {
    margin: 20px 0 0 0;

    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
    }
  }

  // .rate__list

  .list {
    width: 100%;
    line-height: 120%;

    @include for-phone {
      width: 100%;
      margin: 10px 0 0 0;
    }
  }

  // .rate__list-elem

  .listEl {
    margin: 20px 0 0 0;

    width: 100%;

    display: flex;

    img {
      margin: 0 15px 0 0;
    }

    p {
      color: #1e174d;

      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
    }
  }

  // .rate__bottom

  .bottom {
    margin: 30px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    @include for-phone {
      margin: 30px 0 0 0;
    }
  }

  .button {
    width: 324px;

    display: flex;
    justify-content: flex-start;
    text-decoration: none !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    button {
      padding: 7px 15px;
      background-color: #ffffff00;
      border: 1px solid #6f61d0;
      box-sizing: border-box;
      border-radius: 100px;

      font-weight: 500;
      font-size: 14px;

      color: #6f61d0;

      transition: all 0.15s ease-in;

      &:hover {
        background-color: #6f61d0;
        color: #ffffff;
      }
    }
  }
}
