@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.progress {
  width: calc(100% - 10px);
  max-height: 58vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  @include for-phone {
    max-height: unset;
    row-gap: 10px;
  }
}

.addPhotoBtn {
  max-width: 200px;
  margin: 0 0 20px 0;

  @include for-laptop {
    margin: 0 0 15px 0;
    width: 100%;
  }
}
