@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.add__goals__form {
  padding: 30px 0;
  margin: 0 auto;

  max-width: 840px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $color-white;
  box-shadow: 0px 0px 40px rgba(111, 97, 208, 0.11);
  border-radius: 30px;

  &__wrapper {
    padding: 0;
    max-width: 370px;

    display: flex;
    flex-direction: column;
  }

  textarea {
    max-height: 500px;
    min-height: 80px;
  }

  @include for-phone {
    width: 100%;
    max-width: unset;

    background-color: #ffffff00;
    box-shadow: none;
  }
}
.form {
  width: 370px;

  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 10px;

  @include for-phone {
    width: 100%;
  }

  &__title {
    margin: 0 0 30px 0;
    max-width: 100%;

    font-weight: 600;
    font-size: 18px;

    line-height: 120%;

    text-align: center;

    color: $color-grey-3;
  }

  .input__wrapper {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
  }

  .small__input__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    input {
      width: 100%;
      max-width: 230px;
    }
  }

  .radio__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    input {
      margin-right: 5px;
    }
    label {
      position: static;
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  .buttons {
    margin: 30px 0 0 0;

    display: flex;
    align-items: center;

    column-gap: 20px;

    @include for-phone {
      margin: 30px 0 0 0;
    }
  }
}
