@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/breakpoints";

.filter {
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;

  filter: drop-shadow(0px 0px 40px rgba(111, 97, 208, 0.11));

  .header {
    padding: 20px 10px;
    width: 100%;

    display: none;
    align-items: center;
    justify-content: space-between;

    @include for-laptop {
      padding: 20px;
    }
  }

  &.hidden {
    width: 0;
  }

  .filter_container {
    width: 200px;
    @include for-phone {
      width: calc(100% - 20px);
      min-width: 300px;
    }
  }

  height: calc(100vh - 100px);

  @include for-laptop {
    position: fixed;
    top: 0;
    left: 80px;

    width: 240px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 10;

    background-color: #fff;

    .header {
      display: flex;
    }
  }

  @include for-phone {
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}
