@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/typography.scss';

.header {
  width: 100%;
  height: 83px;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f7f6fb;

  &__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    h2 {
      @include font-title($color-black);
    }
  }

  // .header__links

  &__links {
    display: flex;
    align-items: flex-end;
  }

  // .header__link

  &__link {
    margin: 0 0 0 20px;
    cursor: pointer;

    &:hover {
      svg {
        stroke: #6f61d0;
      }
    }
  }
}
