@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';
.goal {
  @include wh(277px, 59px);
  @include flex();
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.0075em;
  color: $color-black;
  transition: 0.3s;
  background: $color-white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(111, 97, 208, 0.14);
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #c77edf 0%, #6f61d0 73.44%);
  padding: 1px;
  margin-right: 30px;

  &__title {
    border-radius: 15px;
    background: $color-white;
    position: relative;
    word-break: break-word;
    padding: 25px;
    border: 1px solid transparent;

    z-index: 3;
    @include flex();
    @include wh(100%, 100%);
  }

  &.active {
    color: $color-white;
    background: $color-primary;
    .goal__title {
      background: transparent;
    }
  }
}
