@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.addGoals {
  padding: 50px 0;
  margin: 0 auto;

  max-width: 840px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $color-white;

  border-radius: 30px;

  box-shadow: 0px 0px 40px rgba(111, 97, 208, 0.11);

  @include for-phone {
    padding: 0 0 60px 0;
    margin: 0;

    width: 100%;

    background-color: #ffffff00;
    box-shadow: none;
  }

  .title {
    margin: 0 0 35px 0;
    max-width: 100%;

    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;

    color: $color-grey-3;

    @include for-phone {
      font-weight: 400;
      font-size: 15px;
      line-height: 130%;
    }
  }

  .wrapper {
    max-width: 370px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .selectorsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 15px;

    @include for-phone {
      margin: 0 0 30px 0;

      row-gap: 10px;
    }
  }

  .buttons {
    margin: 30px 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }
}

.btn {
  &__next,
  &__discard {
    @include flex();
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    border-radius: 100px;
    cursor: pointer;
  }
  &__next {
    background: $color-primary;
    color: $color-white;
    @include wh(77px, 31px);
  }
  &__discard {
    @include wh(87px, 31px);
    margin-right: 20px;
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}
