@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.profile {
    position: relative;

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include for-laptop {
        margin: 80px 0 0 0;
        position: static;
    }

    @include for-phone {
        position: relative;

        margin: 0;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .moveToTasks {
        width: 100%;

        button {
            width: 100%;
            height: 44px;
        }

        @include for-phone {
            margin: 13px 0 0 0;
        }
    }

    .content {
        width: calc(100% - 310px);

        @include for-tablet {
            width: calc(100% - 274px);
        }

        @include for-phone {
            width: 100%;
        }
    }

    .tabs__container {
        margin: 0 0 30px 0;

        @include for-laptop {
            position: absolute;
            width: calc(100vw - 110px);
            top: 110px;
            left: 0;
        }

        @include for-phone {
            position: static;
            width: 100%;
            margin: 15px 10px 15px 0;
        }
    }

    .info {
        padding: 0 0 30px 0;
        width: 280px;

        @include for-tablet {
            width: 244px;
        }

        @include for-phone {
            padding: 0;
            width: 100%;
            height: unset;
        }
    }

    .userInfo {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        @include for-phone {
            margin: 0 0 10px 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.btn__add__photo {
    width: 140px;
    height: 31px;

    position: absolute;
    right: 0;
    top: -3px;

    font-weight: 500;
    font-size: 14px;
    line-height: 120%;

    border-radius: 100px;
    border: 1px solid $color-primary;
    color: $color-primary;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;

    @include for-laptop {
        margin: 0 0 15px 0;
        position: static;
        width: 100%;
        height: 30px;

        top: 0;
    }

    @media (min-width: $sze-laptop-sm) {
        &:hover {
            border: 1px solid $color-secondary;
            color: $color-secondary;
        }
    }
}

.edit {
    background: #fff;
}

.horizontalScroll {
    @include for-tablet {
        position: relative;
        padding: 0 10px;
        left: -10px;

        width: calc(100% - 30px);
        overflow-x: scroll;
        overflow-y: visible;

        &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    @include for-phone {
        width: 100%;
    }
}

.lock {
    width: 15px;
}
