.input {
  height: 50px;
  margin-bottom: 5px;
  padding: 15px 20px;
  background: transparent;
  z-index: 10;
  border: 0;
  font-size: 16px;
  &:placeholder {
    color: #9895a7;
  }
  border: 1px solid #9895a7;
  border-radius: 15px;
}

.error__input {
  border: 1px solid #d06361;
  color: #d06361;
}

.success__input {
  border: 1px solid #309a74;
  color: #309a74;
}

.label {
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  color: #9e97be;
  top: -17px;
  left: 0;
  z-index: 20;
}
