@import "src/styles/mixins";
@import "src/styles/variables";

.chat__footer__form {
  position: relative;
  @include flex($justify: space-between);
  margin-top: auto;
  width: 100%;
}
.form {
  &__attach__btn {
    cursor: pointer;
    @include wh(29px, 29px);
    svg {
      @include wh(29px, 29px);
    }
  }
  &__smile__btn {
    cursor: pointer;
    margin-right: 15px;
    @include wh(24px, 24px);
    svg {
      @include wh(24px, 24px);
    }
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.25px;
    @include wh(242px, 54px);
    resize: none;
    border: none;
    scrollbar-width: none;
    outline: none;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    margin-right: 15px;
    &__wrapper {
      @include flex($justify: flex-start);
      border-radius: 15px;
      border: 1px solid $color-primary;
      @include wh(329px, 70px);
      padding: 8px 22px 8px 20px;
    }
  }
  &__submit__btn {
    cursor: pointer;
    @include wh(29px, 29px);
    padding: 0;
    border: 0;
    background: transparent;
    margin: 0;
    @include flex();
    svg {
      @include wh(29px, 29px);
    }
  }
}
//popup
.attach__popup {
  z-index: 9;
  cursor: pointer;
  background: $color-white;
  position: absolute;
  top: -109px;
  right: 0;
  @include wh(218px, 96px);
  box-shadow: 0px 1px 10px rgba(30, 23, 77, 0.05);
  border-radius: 15px;
  @include flex(column, flex-start, flex-start);
  * {
    cursor: pointer;
  }
  &__media,
  &__documents {
    cursor: pointer;
    width: 100%;
    position: relative;
    @include flex(row, flex-start, center);
    padding: 12px 20px;
    transition: 0.1s;
    border-radius: 15px 15px 0 0;
    @media (min-width: 1200px) {
      &:hover {
        background: $color-grey;
      }
    }
  }
  &__documents {
    border-radius: 0 0 15px 15px;
  }
}
.popup {
  &__text {
    pointer-events: none;
    cursor: pointer;
  }
  &__icon {
    pointer-events: none;
    cursor: pointer;

    margin-right: 15px;
    @include wh(24px, 24px);
    svg {
      @include wh(24px, 24px);
    }
  }
  &__input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    @include allwh(100%, 100%);
  }
}
