.competitionsTaskPreview {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .line {
        margin: 0 0 15px 0;
        
        &:last-child{
            margin: 0;
        }

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .fakeInput {
            padding: 0 12px;
            width: 100%;

            display: flex;
            align-items: center;

            color: #736f8b;

            height: 40px;
            background: #f7f6fb;
            border-radius: 4px;
        }

        .valueField {
            display: flex;
            flex-direction: column;
            .value {
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                color: #736f8b;
            }
        }

        .title {
            margin: 0 0 4px 0;
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 18px;
            text-transform: uppercase;
            color: #736f8b;
            opacity: 0.7;
        }

        .text {
            font-weight: 500;

            line-height: 120%;
            color: #736f8b;
            font-size: 14px;
        }

        .half {
            position: relative;

            width: calc(50% - 8px);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .submitButton {
            position: absolute;
            right: 16px;
            bottom: 12px;

            width: 16px;
            height: 16px;

            z-index: 5;
        }
    }
}


.input {
    p{

    }
    
    input {
        position: relative;

        height: 40px;
        padding: 0 12px;
        background: transparent;
        border: 0;
        outline: none;
        font-size: 15px;
        width: 100%;

        &::placeholder {
            color: #736f8b;
        }

              
        border: 1px solid #f7f6fb;
        box-sizing: border-box;
        border-radius: 4px;
    }
}