@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.sidebarChat {
  position: absolute;
  left: 100vw;
  top: 0;

  display: flex;
  justify-content: flex-end;

  transition: all 0.2s ease;

  z-index: 501;
}

.wrapper {
  position: relative;

  width: 430px;
  height: 100vh;

  background: $color-white;

  z-index: 5;

  @include for-phone {
    width: 100vw;
  }
}

.open {
  transform: translateX(-100%);
}
