@import "./../../../styles/mixins.scss";

* {
  margin: 0;
  padding: 0;
}

.header {
  margin-bottom: 31px;
  
  @include for-phone {
    margin-bottom: 10px;
  }
}

.addBtn {
  padding: 6px 6px;
  display: inline-flex;
  align-items: center;
}

.plusForAddBtn {
  display: inline;
  margin-right: 5px;
}

.tariffs {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  justify-content: flex-start;

  column-gap: 30px;
  row-gap: 30px;

  @media (max-width: 1250px) {
    justify-content: flex-start;
  }

  @include for-tablet {
    column-gap: 20px;
  }

  @include for-phone {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    row-gap: 10px;
  }
}
