@import "./../../../styles/mixins.scss";

* {
  margin: 0;
  padding: 0;
}

.tariffs {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  column-gap: 30px;
  row-gap: 30px;

  @media (max-width: 1250px) {
    justify-content: flex-start;
  }

  @include for-tablet {
    column-gap: 20px;
  }

  @include for-phone {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
}
