@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.card {
  padding: 30px;

  width: 100%;

  border: 1px solid $color-secondary;
  border-radius: 5px;

  @include for-tablet {
    padding: 30px 20px 15px 20px;
  }

  .imagesWrapper {
    margin: 0 0 10px 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .img {
    width: 30%;
    height: 338px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(111, 97, 208, 0.14);
    border: 4px solid $color-divider;

    overflow: hidden;

    cursor: pointer;

    @include for-laptop {
      height: 260px;
    }

    @include for-tablet {
      height: 140px;
    }

    @include for-phone {
      width: 80px;
      height: 114px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .date {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-tablet {
      flex-direction: column;
      justify-content: unset;
      align-items: flex-start;
    }

    p {
      color: $color-grey-2;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;

      &.delete {
        color: #d06361;
        cursor: pointer;
        text-align: right;

        @include for-tablet {
          margin: 5px 0 0 0;
          text-align: left;
          font-size: 14px;
        }
      }
    }
  }
}
