@import "../../../../styles/global";
@import "../../../../styles/breakpoints";

.infoBar {
  padding: 0 16px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $color-divider;

  .name {
    width: 35%;
  }

  .date {
    width: 20%;
  }

  .role {
    width: 20%;
  }

  .tariff {
    width: 25%;
  }

  p {
    font-size: 14px;
    color: $color-grey;

    text-transform: uppercase;
  }

  @include for-phone {
    display: none;
  }
}

.usersList {
  width: 100%;

  height: calc(100vh - 221px);

  overflow-y: scroll;
}