@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';
.tariff {
  cursor: pointer;
  @include flex(column, flex-start, flex-start, nowrap);
  padding: 20px 30px;
  border: 1px solid $color-primary;
  border-radius: 15px;
  @include wh(100%, 88px);

  &__name {
    color: $color-primary;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
  }
  &__expires {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: $color-secondary;
  }
  @media (min-width: $sze-laptop-sm) {
    transition: 0.3s;
    &:hover {
      border: 1px solid $color-primary;
      background: $color-primary;
      .tariff__expires,
      .tariff__name {
        color: $color-white;
      }
    }
  }
}
