@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';
.tariff {
  padding: 20px 30px;
  width: 100%;

  border: 1px solid #6f61d0;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 22px;

  @include for-phone {
    margin: 0;
  }

  transition: all 0.2s ease;

  @include for-phone {
    padding: 0;

    width: 48%;
    height: 77px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    margin: 0 0 7px 0;
    color: #9e97be;
    font-size: 16px;
    p {
      font-weight: 600;
      font-size: 16px;

      letter-spacing: 0.0075em;

      color: #6f61d0;

      @include for-phone {
        font-size: 16px;
      }
    }
  }

  img {
    width: 20px;
    margin-left: 5px;
  }

  .date {
    p {
      font-weight: 400;
      font-size: 16px;
      display: flex;
      align-items: center;

      color: #9e97be;

      @include for-phone {
        font-size: 14px;
      }
    }
  }
  .isPaid {
    p {
      font-weight: 400;
      font-size: 16px;
      display: flex;
      align-items: center;
      margin-top: 5px;

      color: #9e97be;

      @include for-phone {
        font-size: 14px;
      }
    }
  }
}
