.pd {
  &__container {
    position: absolute;
    z-index: 500;
    top: 20%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);

    width: 840px;
    height: 481px;

    padding: 21px 0px 30px;

    background: #ffffff;
    box-shadow: 0px 0px 40px rgba(111, 97, 208, 0.11);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    max-height: 53px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #f7f6fb;
    margin-top: 0;
    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: 0.0075em;

      color: #000000;
    }
  }
  &__items {
    position: relative;

    max-width: 570px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input__container {
    position: relative;
    width: 170px;
    height: 246px;
    padding: 15px;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
  }

  &__label {
    position: relative;

    width: 170px;
    height: 246px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #f7f6fb;
    border-radius: 15px;
    border: none;

    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    p {
      position: absolute;
      bottom: 15px;
      font-weight: 500;
      font-size: 14px;

      line-height: 130%;
      letter-spacing: 0.25px;

      color: #736f8b;
      margin-bottom: 0;
    }

    transition: all 0.15s ease;

    &:hover {
      box-shadow: 0px 0px 6px rgba(210, 204, 233, 0.5);
    }
  }

  &__buttons {
    width: 216px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.error__input {
  border: 2px solid tomato;
}

.success__input {
  border: 2px solid green;
}

.error {
  position: absolute;
}
