.form__wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
  flex-wrap: wrap;
  max-width: 500px;
}

.title,
.subtitle {
  margin: 0;
  margin: 0 auto;
}

.title {
  margin-bottom: 10px;
  margin-bottom: 10px;
  color: #1e174d;
  font-size: 36px;
}

.subtitle {
  margin-bottom: 30px;
  color: #736f8b;
  font-weight: normal;
  font-size: 15px;
}

.form {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 370px;
  width: 100%;
  .input__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 21px;
    .forgot {
      position: absolute;
      top: 19px;
      right: 20px;
      font-size: 12px;
      color: #6f61d0;
      cursor: pointer;
      z-index: 100;
      text-decoration: none;
    }
  }

  .input {
    height: 50px;
    padding: 15px 20px;
    background: transparent;
    border: 0;
    font-size: 16px;
    &:placeholder {
      color: #9895a7;
    }
    border: 1px solid #9895a7;
    border-radius: 15px;
  }

  .btn {
    background: #6f61d0;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 19px;
    margin-bottom: 20px;
    transition: 0.3s;
    &:hover {
      background: #a59ce2;
    }

    &.disabled {
      background: #bbbbbb;
      cursor: default;
      &:hover {
        background: #bbbbbb;
      }
    }
  }

  .error__input {
    border: 1px solid #d06361;
    color: #d06361;
  }

  .success__input {
    border: 1px solid #309a74;
    color: #309a74;
  }

  .error {
    font-size: 12px;
    color: #d06361;
    text-align: left;
    margin-top: 10px;
  }

  .error__server,
  .success__server {
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    display: none;
    font-weight: normal;
    padding: 8px 20px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .error__server {
    background: #ffd8d7;
    color: #d06361;
  }

  .success__server {
    background: #309a74;
    color: #fff;
  }

  .error__checkbox {
    border: 2px solid #d06361 !important;
  }
}

.signin {
  text-decoration: none;
  color: #6f61d0;
  font-size: 15px;
  letter-spacing: 0.25px;
  transition: 0.3s;
  margin: 0 auto;
  margin-bottom: 10px;
  &:hover {
    color: #a59ce2;
  }
}
