@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
.sidebar {
  &__chat__wrapper {
    position: absolute;
    right: -100vw;
    top: 0;
    transition: 0.4s;
    display: flex;
    z-index: 501;
    justify-content: flex-end;
  }

  &__background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    transition: 0.3s;
    z-index: 500;
    background: rgba(0, 0, 0, 0.1);
  }

  &__chat {
    position: relative;
    background: $color-white;
    height: 100vh;
    width: 431px;
    z-index: 5;
  }
  &__header {
    @include flex(row, space-between, center, nowrap);
    border-bottom: 2px solid $color-divider;
    padding: 30px 30px;
    &__title {
      color: $color-black;
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
    }
    &__close {
      cursor: pointer;
      @include wh(17px, 18px);
    }
  }
}
.open {
  right: 0;
}
.messages {
  @include flex(column, flex-start, flex-start, nowrap);
}
