@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';
.progress__bar {
  @include flex();
  padding: 0;
  &__wrapper {
    align-self: center;
    @include flex();
    position: relative;
    @include minwh(120px, 120px);
    margin-bottom: 30px;
  }
  &__svg__wrapper {
    pointer-events: none;
    @include flex();
    position: absolute;
    left: 0;
    right: 0;
  }
  &__circle {
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.3s;
    stroke: url(#GradientColor);
  }
  &__number {
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    color: $color-black;
  }
}
