@import "./../../../styles/mixins.scss";

.edit {
  @include for-laptop {
    margin: 60px 0 0 0;
  }

  .tabs__container {
    margin: 0 0 30px 0;

    @include for-laptop {
      position: absolute;
      width: calc(100vw - 110px);
      top: 110px;
      left: 0;
    }

    @include for-phone {
      position: static;
      width: 100%;
      margin: 15px 10px 15px 0;
    }
  }
}
