.recommendationGroup {
    width: 100%;

    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            font-weight: 600;
            font-size: 15px;
            line-height: 120%;

            color: #04030a;
        }

        .specialistPhoto {
            margin: 0 8px 0 0;
            width: 40px;
            height: 40px;

            display: flex;
            align-items: center;
            justify-content: center;

            border: 2px solid #ffffff;
            border-radius: 50%;
            box-sizing: border-box;
            filter: drop-shadow(0px 0px 4px rgba(126, 134, 239, 0.15));

            overflow: hidden;

            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }
    }

    .divider{
        margin: 20px 0 25px 0;
        width: 100%;
        height: 1px;

        background-color: #E6E2F9;
    }

    .recommendationsList{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 35px;
    }
}
