@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.BtnClose {
  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
