@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.add__goals__select {
  padding: 50px 0;
  margin: 0 auto;

  max-width: 840px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $color-white;

  border-radius: 30px;

  box-shadow: 0px 0px 40px rgba(111, 97, 208, 0.11);

  @include for-phone {
    padding: 0 0 60px 0;
    margin: 0;

    width: 100%;

    background-color: #ffffff00;
    box-shadow: none;
  }

  &__title {
    margin: 0 0 35px 0;
    max-width: 100%;

    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;

    color: $color-grey-3;

    @include for-phone {
      font-weight: 400;
      font-size: 15px;
      line-height: 130%;
    }
  }
  &__wrapper {
    max-width: 358px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }

  .selectorsContainer {
    margin: 0 0 48px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 15px;

    @include for-phone {
      margin: 0 0 30px 0;

      row-gap: 10px;
    }
  }
}

.selector {
  padding: 1px;

  width: 390px;
  height: 83px;

  border-radius: 15px;
  background: linear-gradient(to right, #c77edf 0%, #6f61d0 73.44%);

  cursor: pointer;

  @include for-phone {
    width: 100%;
    height: unset;
  }

  &.active {
    background: $color-primary;
    .selector {
      &__content {
        background: $color-primary;
        color: $color-white;
      }
      &__description {
        color: rgba($color-white, 0.7);
      }
    }
    &:hover {
      background: $color-primary;
    }
  }

  &__content {
    position: relative;

    padding: 20px 28px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: $color-white;

    border-radius: 15px;
    border: 1px solid transparent;

    z-index: 3;

    transition: all 0.2s ease;

    @include for-phone {
      padding: 20px;
    }
  }
  &__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;

    letter-spacing: 0.0075em;
  }
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: $color-secondary;

    @include for-phone {
      font-size: 15px;
      line-height: 130%;
    }
  }

  &:hover {
    background: $color-primary;
    .selector {
      &__content {
        background: $color-primary;
        color: $color-white;
      }
      &__description {
        color: rgba($color-white, 0.7);
      }
    }
  }
}

.btn {
  &__next,
  &__discard {
    @include flex();
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    border-radius: 100px;
    cursor: pointer;
  }
  &__next {
    background: $color-primary;
    color: $color-white;
    @include wh(77px, 31px);
  }
  &__discard {
    @include wh(87px, 31px);
    margin-right: 20px;
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}
