@import "/src/styles/variables";
@import "/src/styles/mixins";

.message {
  border-radius: 0 15px 15px 15px;
  background: $color-grey;
  width: fit-content;
  margin-bottom: 7px;
  max-width: 309px;
  position: relative;

  &.typing {
    padding: 12px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.25px;
    color: $color-grey-2;
  }
}
