@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';
.progress__form {
  @include flex(column, flex-start, flex-start);

  &__title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 120%;
  }
}
.form {
  &__submit__btn {
    @include flex();
    @include wh(100%, 49px);
    border: 1px solid $color-primary;
    color: $color-primary;
    font-weight: 500;
    border-radius: 50px;
    font-size: 16px;
    line-height: 120%;
  }
  &__wrapper {
    @include flex(column, flex-start, flex-start);
  }
  &__input {
    @include wh(100%, 49px);
    padding: 15px 20px;
    color: $color-secondary;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    cursor: text;
    border-radius: 50px;
    border: 1px solid $color-secondary;
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 22px;
    }
    &::-webkit-datetime-edit-fields-wrapper {
      opacity: 1 !important;
      color: #cfcbdf;
    }
    &::placeholder {
      opacity: 0.5;
    }
    &__title {
      margin-bottom: 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0.25px;
      color: $color-secondary;
    }
  }
}

.edit__goal {
  cursor: pointer;
  @include flex($justify: flex-start);
  margin-bottom: 14px;
  a {
    text-decoration: none;
  }
  &__text {
    color: $color-primary;
    margin-left: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(111, 97, 208, 0.5);
  }
}

.input__wrapper {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  input {
    width: 265px;
  }
}
