@import "./../../../../styles/mixins.scss";

.specialistList {
    margin: 40px 0 0 0;
    width: 100%;

    display: flex;
    flex-direction: column;

    @include for-phone {
        padding: 0 0 60px 0;
        align-items: center;
    }
}

.title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-phone {
        display: none;
    }

    .name {
        width: 410px;
    }

    .specialization {
        width: 270px;

        display: flex;
        justify-content: center;
    }

    .price {
        width: 270px;
        display: flex;
        justify-content: center;
    }

    .appointment {
        width: 250px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        font-weight: 500;
        font-size: 18px;

        color: #1e174d;
    }
}

.list {
    padding: 40px 0;
    width: 100%;

    display: flex;
    flex-direction: column;

    @include for-phone {
        padding: 0;
    }
}
