@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
.calendar {
  @include flex(column, $justify: flex-start, $align: flex-start);
  position: fixed;
  @include maxwh(328px, auto);
  padding: 20px 38px 15px 29px;
  box-shadow: 0px 0px 40px rgba(111, 97, 208, 0.11);
  border-radius: 15px;
  background: $color-white;
  &__header {
    width: 100%;
    padding-bottom: 17px;
    border-bottom: 1px solid $color-divider;
    margin-bottom: 15px;
  }
  &__columns {
    @include flex($justify: flex-start, $align: flex-start);
  }
  &__column {
    width: 36px;
    &:last-of-type {
      margin-right: 0;
      .calendar__column__title {
        margin-right: 0;
      }
    }
    &__title {
      width: 100%;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      @include flex();
      color: $color-black;
      margin-bottom: 10px;
    }
    &__day {
      @include allwh(100%, 36px);
      @include flex();
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: $color-black;
      margin-bottom: 13px;
      cursor: pointer;
      &.disabled {
        pointer-events: none !important;
        color: $color-grey-4 !important;
        background: transparent !important;
        &:after {
          display: none !important;
        }
      }
      &__num {
        z-index: 10;
      }
      &.active {
        background: rgba($color-primary-hover, 0.2);
      }
      &.startpoint,
      &.endpoint {
        position: relative;
        .calendar__column__day__num {
          color: $color-white;
        }
        &:after {
          z-index: 1;
          background: $color-primary;
          position: absolute;
          top: 0;
          content: "";
          width: 100%;
          height: 100%;
          left: 0;
          border-radius: 50%;
        }
      }
      &.startpoint {
        background: linear-gradient(to left, rgba($color-primary-hover, 0.2) 50%, transparent 50%);
      }
      &.endpoint {
        background: linear-gradient(to right, rgba($color-primary-hover, 0.2) 50%, transparent 50%);
      }
    }
  }
  &__days {
    width: 100%;
    @include flex($wrap: wrap, $align: flex-start);

    &__wrapper {
      @include flex(column, flex-start, flex-start);
    }
  }
  &__month,
  &__year {
    color: $color-primary;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  &__year {
    font-weight: 500;
  }
}
