@import "./../../styles/mixins.scss";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.tasksCalendar {
    max-width: 1200px;
    width: 100%;

    overflow: hidden;

    @include for-tablet {
        max-height: calc(100vh - 133px - 54px);
        overflow-y: scroll;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .calendar {
        width: 100%;

        display: flex;
        flex-wrap: wrap;

        .cell {
            width: calc(100% / 7);
            border: 1px solid #f7f6fb;
            padding: 12px;

            @include for-tablet {
                width: 100%;
                padding: 30px 0 0 0;
                border: none;
            }
        }

        .tableHeader {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            font-family: "Roboto", sans-serif;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;

            color: #736f8b;

            @include for-tablet {
                display: none;
            }
        }

        .calendarBody {
            width: 100%;
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
        }
    }
}
