@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";
.sucess__modal {
  box-shadow: 0px 0px 40px rgba(111, 97, 208, 0.11);
  background: $color-white;
  border-radius: 30px;
  @include flex();
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  &__wrapper {
    @include flex(column, flex-start);
    max-width: 417px;
  }
  &__img {
    @include wh(137px, 137px);
    margin-bottom: 40px;
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.0075em;
    color: $color-primary;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 127px;
    color: $color-grey-3;
  }
  &__close__btn {
    @include flex();
    border-radius: 50px;
    color: $color-white;
    cursor: pointer;
    background: $color-primary;
    @include wh(220px, 50px);
  }
}
