@import "./../../../../styles/mixins.scss";

.log {
    width: 100%;
    padding: 10px 0;

    display: flex;
    column-gap: 10px;

    font-size: 15px;

    @include for-tablet {
        flex-direction: column;
        row-gap: 5px;

        border-bottom: 1px solid rgb(115, 111, 139, 0.5);
    }

    .info {
        margin: 0 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .user {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .date {
        color: #736f8b;
    }
}
